<div id="page-content">
    <h1 class="text-center mt-4">Log In</h1>

    <div class="container">

        <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-info rounded") do |form| %>    
        <div class="row justify-content-center">
            <div class="col-10 justify-content-center">

                <div class="form-group row mt-4">
                    <%= form.label :email, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">
                        <%= form.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your Email Address" %>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <%= form.label :password, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">
                        <%= form.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password" %>
                    </div>
                </div>

                <div class="form-group mt-3 d-flex justify-content-around">
                    <%= form.submit "Log in", class: "btn btn-outline-light btn-lg" %>
                </div>
            <% end %>
            </div>
        </div>
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "d-flex justify-content-around text-info" %>
    </div>
</div>